<h3>{{userName}}'s Drink Journal</h3>
<h6>{{philosophy}}</h6>
<input class="form-control form-spacing searchInput" type="text" name="" placeholder="Search journal entries..." ng-model="searchText">
<table class="table">
	<tr ng-repeat="entry in drinks | filter: searchText">
		<td>
			<h4>{{entry.bevName}}</h4>
			<p>{{entry.userRating}}</p>
			<p>{{entry.userNotes}}</p>
		</td>
		<td>
			<div>
			    <button ng-click="editJournalEntry(entry.id)" class="btn btn-default fa fa-pencil-square-o"></button>
				<button ng-click="deleteJournalEntry(entry.id)" class="btn btn-danger fa fa-trash-o"></button>
			</div>
		</td>
	</tr>
</table>