#wineMap,
#beerMap {
	width: 100%;
	height: 500px;
}
.locationList {
	width: 100%;
	.locationNames {
		font-family: 'Lobster Two', cursive;
		font-size: 16px;
	}
}
a {
	color: #550C18;
	text-decoration: none;
}

th {
	font-size: 18px;
	font-weight: bold;
}
