<form ng-show="!registered">
<div class="form-group">
    <label class="formLabel" for="userName">Name</label>
    <input type="text" class="form-control" id="userName" placeholder="Name" ng-model="auth.name">
  </div>
  <div class="form-group">
    <label class="formLabel" for="userEmail">E-mail Address</label>
    <input type="email" class="form-control" id="userEmail" placeholder="E-mail" ng-model="auth.email">
  </div>
  <div class="form-group">
    <label class="formLabel" for="userPassword">Password</label>
    <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="auth.password">
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="checked" required> I am at least 21 years of age.
    </label>
  </div>
  <button type="submit" ng-disabled="!checked" class="btn btn-default" ng-click="registerUser()">Register</button>
  <br>
  <br>
  <p>Already have an accout? Please <a ng-click="showRegister()">Login</a>!
</form>
<form ng-show="registered">
  <div class="form-group">
    <label class="formLabel" for="userEmail">E-mail Address</label>
    <input type="email" class="form-control" id="userEmail" placeholder="E-mail" ng-model="auth.email">
  </div>
  <div class="form-group">
    <label class="formLabel" for="userPassword">Password</label>
    <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="auth.password">
  </div>
  
  
  <button type="submit" ng-click="logIn()" class="btn btn-default">Submit</button>
  <br>
  <br>
  <p>New User? Please <a ng-click="showRegister()">register</a> for a new account!
</form>