<div class="row choiceContainer">
	<div class="col-xs-8 col-xs-offset-2 chooseOne">
		<h2>What are you craving?</h2>
		<div class="col-xs-4">
			<div>
				<h3 class="text-center chooseDrinkLabel" ng-click="drinkType('beer')">Beer</h3>
			</div>
			<img ng-click="drinkType('beer')" class="chooseDrinkType" src="./images/beer.jpg">
		</div>
		<div class="col-xs-4 col-xs-offset-4">
			<div>
				<h3 class="text-center chooseDrinkLabel" ng-click="drinkType('wine')">Wine</h3>
			</div>
			<img ng-click="drinkType('wine')" class="chooseDrinkType" src="./images/wine.jpeg">
		</div>
	</div>
</div>