<h1>{{drink.bevName}}</h1>
<form ng-show="beer">
  <div class="form-group">
    <label for="brewery">Brewery:</label>
    <input type="text" class="form-control" ng-model="drink.brewery" placeholder="Brewery Name">
  </div>
  <div class="form-group">
    <label for="beerStyle">Beer Style: </label>
    <input type="text" class="form-control" ng-model="drink.beerStyle" placeholder="Amber Ale, Lager, etc.">
  </div>
  <div class="form-group">
    <label for="abv">ABV:</label>
    <div class="input-group">
      <input type="abv" class="form-control" ng-model="drink.ABV" placeholder="%">
      <span class="input-group-addon">%</span>
  </div>
  </div>
  <div class="form-group">
    <label for="ibu">IBU:</label>
    <input type="text" class="form-control" ng-model="drink.IBU" placeholder="IBU">
  </div>
  <div class="form-group">
    <label for="userRating">Rate It!</label>
    <input type="text" class="form-control" ng-model="drink.userRating" placeholder="1-5">
  </div>
  <div class="form-group">
    <label for="userNotes">Notes:</label>
    <textarea type="" class="form-control" ng-model="userNote.comment" placeholder=""></textarea>
  </div>
  <div ng-show="edit">
    <div class="userNotes" ng-repeat="note in previousNotes | orderBy: date">
      <br>
      <div>{{note.date | date: 'longDate'}}</div>
      <div>{{note.comment}}</div>
      <br>
    </div>
  </div>
  <button type="submit" ng-click="submitDrink(drink)" class="btn btn-default">{{buttonType}}</button>
</form>
<form ng-show="!beer">
  <div class="form-group">
    <label for="brewery">Winery/Vineyard:</label>
    <input type="text" class="form-control" ng-model="drink.vineyard" placeholder="Winery Name">
  </div>
  <div class="form-group">
    <label for="beerStyle">Wine Type: </label>
    <input type="text" class="form-control" ng-model="drink.wineType" placeholder="Red, White, Rose, Etc.">
  </div>
  <div class="form-group">
    <label for="varietal">Varietal: </label>
    <input type="text" class="form-control" ng-model="drink.varietal" placeholder="varietal">
  </div>
  <div class="form-group">
    <label for="abv">ABV:</label>
    <div class="input-group">
      <input type="abv" class="form-control" ng-model="drink.ABV" placeholder="%">
      <span class="input-group-addon">%</span>
  </div>
  </div>
  <div class="form-group">
    <label for="userRating">Rate It!</label>
    <input type="text" class="form-control" ng-model="drink.userRating" placeholder="1-5">
  </div>
  <div class="form-group">
    <label for="userNotes">Notes:</label>
    <textarea type="" class="form-control" ng-model="userNote.comment" placeholder=""></textarea>
  </div>
  <div ng-show="edit">
    <div class="userNotes" ng-repeat="note in previousNotes | orderBy: date">
      <br>
      <div>{{note.date | date: 'longDate'}}</div>
      <div>{{note.comment}}</div>
      <br>
    </div>
  </div>
  <button type="submit" ng-click="submitDrink(drink)" class="btn btn-default">{{buttonType}}</button>
</form>

