<div>
  <input id="address" type="textbox" value="Nashville, TN">
  <input id="submit" type="button" value="Search Location">
</div>
<div class="row">
	<div class="col-xs-6">
		<div id="wineMap"></div>
	</div>
	<div class="col-xs-6">
		<table class="locationList">
			<th>Select your Winery:</th>
			<tr ng-repeat="place in places | limitTo: 10">
				<td>
					<a class="locationNames" ng-href="/#!/locations/{{place.type}}/{{place.id}}">{{place.name}}</a>
					<p>{{place.formatted_address}}</p>
					<p>Google rating: {{place.rating}}</p>
					<br>
				</td>
				<td>
					<a ng-click="addFavoritePlace(place)">Add to Favorites</a>
				</td>
			</tr>
		</table>
	</div>